# Django
*.log
*.pot
*.pyc
_pycache_/
local_settings.py

# Database
*.sqlite3
*.db

# Static files
staticfiles/
.media/

# Virtual Environment
venv/
.env

# Secret key
*.secret_key

# IDE settings
.idea/
.vscode/

# Compiled Python files
*.pyc

# Dependency directories
.env/
env/